.container {
  display: flex;
  margin-top: 10px;
}

.link {
  text-decoration: none;
  color: inherit;
}
.userList {
  flex: 2;
  margin-top: 40px;
  margin-right: -230px;
  height: 550px;
}

.userListUser {
  display: flex;
  align-items: center;
}

.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit {
  border: none;
  border-radius: 18px;
  padding: 0px 5px;
  background-color: #0fa06f;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}
.userListBlocked{
  border: none;
  border-radius: 18px;
  padding: 0px 5px;
  background-color: #cc0f0f;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.userListDelete {
  color: red;
  cursor: pointer;
}
