.home {
  display: flex;
}

.h2Test{
  padding-top: 10px;
  padding-left: 30px;
}
.playListDelButton {
  margin-left: 40px;
  width: 120px;
  border: none;
  padding: 5px;
  background-color: rgb(190, 35, 35);
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 14px;
}

.posts{
  flex: 9;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
