.post {
  width: 360px;
  height: 340px;
  margin: 0px 35px 40px 35px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(214, 209, 209);
  border-radius: 18px;
}

.postImg {
  width: 360px;
  height: 200px;
  object-fit: cover;
  border-radius: 18px 18px 0 0;
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postCat {
  font-family: "Times New Roman";
  font-weight: 400;
  font-size: 17px;
  color: #be9656;
  line-height: 19px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.postTitle {
  /* font-family: "Josefin Sans", Arial, Helvetica, sans-serif; */
  font-family: "Times New Roman";
  font-size: 28px;
  font-weight: 900;
  margin-top: 10px;
  cursor: pointer;
}

.postDate {
  /* font-family: "Lora", serif; */
  font-family: "Times New Roman";
  font-style:normal;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  color: #291919;
  margin-top: 5px;
}

.postDesc {
  /* font-family: "Lora", serif; */
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  color: #000000;
  margin-top: 5px; 
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
