.playList {
  flex: 4;
  padding: 20px;
}

.playListTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playListAddButton {
  width: 180px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.playListContainer {
  display: flex;
  margin-top: 20px;
}

.playListShow {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.playListUpdate {
  width: 500px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
}

.playListShowTop {
  display: flex;
  align-items: center;
}

.playListShowImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.playListShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.playListShowUsername {
  font-weight: 600;
}

.playListShowUserTitle {
  font-weight: 300;
}

.playListShowBottom {
  margin-top: 20px;
}

.playListShowTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(175, 170, 170);
}

.playListShowInfo {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  color: #444;
}

.playListShowIcon {
  font-size: 16px !important;
}

.playListShowInfoTitle {
  margin-left: 10px;
}

.playListUpdateTitle {
  font-size: 24px;
  font-weight: 600;
}

.playListUpdateForm {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.playListUpdateItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.playListUpdateItem > label {
  margin-bottom: 5px;
  font-size: 14px;
}

.playListUpdateInput {
  border: none;
  width: 250px;
  height: 30px;
  border-bottom: 1px solid gray;
}

.playListUpdateRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.playListUpdateUpload {
  display: flex;
  align-items: center;
}

.playListUpdateImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.playListUpdateIcon {
  cursor: pointer;
}

.playListUpdateButton {
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: darkblue;
  color: white;
  font-weight: 600;
}
