.topUser {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 999;
  
}
.logo {
  font-weight: bold;
  font-size: 35px;
  color: darkblue;
  cursor: pointer;
}

.topUserLeft,
.topUserRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topUserIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}

.topUserCenter {
  flex: 6;
}

.topUserList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px;
  list-style: none;
}

.topUserListItem {
  margin-top: 8px;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.topUserListItem1{
  margin-top: 3px;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.topUserListItem2{
  margin-top: -21px;
  margin-right: 5px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.topUserListItem:hover{
    color: gray;
}

.topUserImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  cursor: pointer;
  margin-top: 8px;
}

.topUserSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
}
